.App {
  font-family: sans-serif;
  text-align: center;
}

.Footer {
  left: 0; /* 將 Header 元素的左邊固定在頁面左邊 */
  right: 0; /* 將 Header 元素的右邊固定在頁面右邊 */
  background-color: #222;
  padding: 10px;
  text-align: center;
  color: white;
  display: flex; /* 設置 display 為 flex */
  flex-direction: row; /* 設置主軸方向為橫向排列 */
}
body {
  background-color: #9b90c2; /*寫在nopage那邊了所以這邊沒用  ->之後應該改到 changeColor 頁面*/
}

.contact {
  /* flex-direction: row; */
  display: table-cell;
  color: #e9ecef;
}

.contact > .row {
  display: -webkit-flex;
  margin-left: 25%;
  margin-right: 25%;
  padding: 1rem;
  line-height: 1.5;
  /* text-align: left; */
}
